@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Book.eot');
  src: local('Futura PT Book'), local('FuturaPT-Book'), url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Book.woff') format('woff'), url('../fonts/FuturaPT-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Corbel';
  src: url('../fonts/Corbel-Bold.eot');
  src: local('Corbel Bold'), local('Corbel-Bold'), url('../fonts/Corbel-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Corbel-Bold.woff') format('woff'), url('../fonts/Corbel-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
