* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body.login {
  padding: 20px;
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body.login div#login {
  width: 400px;
  max-width: 100%;
  margin: auto;
  background-color: #fdfbfc;
  -webkit-box-shadow: -1.8px -4.7px 34px 12px rgba(0, 0, 0, 0.43);
          box-shadow: -1.8px -4.7px 34px 12px rgba(0, 0, 0, 0.43);
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  text-align: center;
  color: #020202;
}
body.login div#login .message {
  font-family: Montserrat;
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: 0.058rem;
  text-align: left;
  padding: 0 27px;
  color: #020202;
}
body.login div#login h2 {
  margin-bottom: 44px;
}
body.login div#login h2 a {
  width: 100%;
  overflow: hidden;
  background-color: #040203;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body.login div#login h2 a .logo-name {
  font-family: Montserrat;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  letter-spacing: 0.075rem;
  color: #fcfbfc;
  text-decoration: none;
  margin-left: 12px;
  width: auto;
}
#login h2 a .logo-img,
.login h2 a .logo-img {
  content: '';
  display: block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 51px;
  height: 51px;
}
body.login div#login form {
  padding: 0 27px 0;
}
body.login div#login form label {
  display: block;
  font-family: Montserrat;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.035rem;
  text-align: left;
  color: #707473;
  padding: 10px 0 5px;
}
body.login div#login form input {
  width: 100%;
  outline: none;
  border-radius: 0;
  border: solid 1px #6f6f6f;
  background-color: transparent;
  padding: 15px 10px;
  font-family: Montserrat;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.035rem;
  text-align: left;
  color: #111;
}
body.login div#login form input:focus {
  border-color: #ffff00;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
body.login div#login form .wp-pwd {
  position: relative;
}
body.login div#login form .wp-pwd .wp-hide-pw {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 0;
}
body.login div#login form .wp-pwd .wp-hide-pw span {
  width: 20px;
  text-align: center;
}
body.login div#login form input#user_login,
body.login div#login form#loginform input#user_pass {
  width: 100%;
  outline: none;
  border-radius: 0;
  border: solid 1px #6f6f6f;
  background-color: transparent;
  padding: 15px 10px;
  font-family: Montserrat;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.035rem;
  text-align: left;
  color: #111;
}
body.login div#login form input#user_login:focus,
body.login div#login form#loginform input#user_pass:focus {
  border-color: #ffff00;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
body.login div#login form p.forgetmenot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}
body.login div#login form p.forgetmenot input#rememberme {
  width: 2rem;
  height: 2rem;
  font-size: 2.5rem;
  line-height: 2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
}
input[type=checkbox]:checked::before {
  width: 2rem;
  height: 2rem;
}
body.login div#login form p.submit input#wp-submit {
  background-color: #02a388;
  width: 100%;
  padding: 20px;
  font-family: Montserrat;
  font-size: 1.8rem;
  line-height: 1.8rem;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  font-weight: bold;
  letter-spacing: 0.045rem;
  text-align: center;
  color: #f6faf9;
}
body.login div#login form p.submit input#wp-submit:hover {
  background-color: #028872;
}
body.login div#login p#nav {
  padding: 0 27px 44px;
}
body.login div#login p#nav a {
  font-family: Montserrat;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.035rem;
  text-align: center;
  color: #02a388;
}
body.login div#login p#backtoblog {
  font-family: Montserrat;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.035rem;
  text-align: center;
  color: #02a388;
}
